{% extends 'sim_subpage_head.html' %}

{% block content %}

<body class="work-sans bg-gray-100">
    <div class="container mx-auto mt-10">
        <div class="bg-white p-5 rounded shadow-sm">
            <div class="mb-4">
                <a href="/sim-shop" class="text-blue-500 hover:text-blue-700">Back</a>
            </div>
            <div class="text-center">

                <h1 class="text-lg mt-2">This is the Administrative page</h1>
                <img src="/static/settings.jpg" alt="You configuring your e-commerce settings" class="hover:grow" style="width:50em;margin:auto">
                <h1 class="text-lg mt-2">This is the Administrative page</h1>

            </div>
        </div>
    </div>
</body>

{% endblock %}
