{% extends 'deflayout.html' %}

{% block content %}

<!--<form hx-get="/search" hx-target="#search-results" hx-trigger="submit">-->
<!--<input type="text" name="q" placeholder="Search...">-->
<!--<input type="submit" value="Search">-->
<!--</form>-->

<style>
/* Override for main content width */
.content-wrapper {
  max-width: 90%; /* or any other value you prefer */
  margin: 0 auto; /* Keeps the content centered */
}

/* Make iframes big */
iframe {
  width: 100em; /* Full width of their parent container */
  height: 70em; /* Specify a height, or adjust as needed */
}
</style>


<body>
    <h3> Prediction: Purchase or no purchase </h3>
    <iframe src="/sim-shop"></iframe>
</body>


{% endblock %}

