<div id="usertable" hx-get="/usertable" hx-trigger="specialClick" hx-swap="outerHTML">
    <table>
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for attr, value in data.items() %}
            <tr>
                <td><code>{{ attr }}</code></td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="predict" class="box" style="display:flex">
       <p style="margin:auto">Please modify leftover fields</p>
    </div class="box">
</div>
